future
emoji
requests==2.27.1
sqlalchemy
python-telegram-bot==13.11
psycopg2-binary
feedparser
gpytranslate>=1.4.0
Pillow>=9.0.1
aiohttp>=2.8.1
pynewtonmath
psutil
bleach
markdown2
speedtest-cli
wikipedia
malclient
coffeehouse
tswift
pyrate-limiter
loguru
